<% letters.forEach((info)=> { %>
<div class="draft-item">
	<!-- avatar -->
	<div></div>

	<p>RE: <%= info.recipient %></p>
	<p><%- info.content %></p>
	<p>- <%= info.signed %></p>
	<p>Last updated: <%= info.dateUpdated %></p>
</div>
<% }) %>
