<div class="draft-item">
	<!-- avatar -->
	<div></div>

	<p>RE: Reciptient</p>
	<p>
		Here will be the text of the letter which will stop at a certain amount of
		characters.
	</p>
	<p>Last updated: 28 Mar</p>
</div>
