<% letters.forEach((info)=> { %>
<div class="draft-item">
	<img src="/img/close-button.svg" alt="Cancel" />

	<img src="/img/profile-picture.svg" alt="Profile picture of recipient" />

	<p>RE: <%= info.recipient %></p>
	<div class="draft-content"><p><%- info.text %></p></div>
	<p>- <%= info.signed %></p>
	<p>Last updated: <%= info.dateUpdated %></p>
</div>
<% }) %>
