<nav>
    <ul>
        <li>
            <a href="/"
                ><svg
                    class="menu-item"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 250 250"
                >
                    <g class="Home">
                        <rect
                            data-name="Rectangle 12"
                            class="cls-1"
                            x="80.61"
                            y="1.57"
                            width="13.15"
                            height="122.1"
                            transform="translate(-.75 1.05) rotate(-.69)"
                        />
                        <path
                            data-name="Path 115"
                            class="cls-1"
                            d="m57.39,12.69l53.03-1.49c2.74.04,5.33,1.25,7.13,3.32,0,0,27.73,30.03,13.95,84.08l-87.48-.5c22.34-40.19,13.38-85.41,13.38-85.41Z"
                        />
                        <path
                            data-name="Path 117"
                            class="cls-1"
                            d="m134.36,187.75H34.56c-9.93,0-18.62-6.69-21.17-16.29L1.65,127.5c-.63-2.34.76-4.74,3.1-5.37.37-.1.75-.15,1.14-.15h163.12c2.42,0,4.38,1.96,4.39,4.38,0,.56-.11,1.11-.31,1.63l-18.36,45.99c-3.33,8.32-11.38,13.78-20.35,13.78Z"
                        />
                    </g></svg
                >Home</a
            >
        </li>

        <li>
            <a href="/discover"
                ><svg
                    class="menu-item"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 250 250"
                >
                    <path
                        class="cls-1"
                        d="M212.23,130.92c-0.01,48.18-39.07,87.23-87.25,87.22s-87.23-39.07-87.22-87.25
        c0.01-39.39,26.4-73.88,64.42-84.18c-1.77-6.17,1.79-12.62,7.97-14.39c1.05-0.3,2.13-0.45,3.22-0.45h23.26
        c6.42-0.01,11.64,5.19,11.64,11.62c0,1.09-0.15,2.18-0.45,3.22C185.84,57.02,212.22,91.53,212.23,130.92z M170.21,85.5l-57.54,32.89
        l-32.92,57.59l57.58-32.89l32.89-57.58V85.5H170.21z"
                    /></svg
                >Discover</a
            >
        </li>

        <li>
            <a href="/matches"
                ><svg
                    class="menu-item"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 250 250"
                >
                    <g class="matches">
                        <path
                            class="cls-1"
                            d="M156.1,84.8c1.15-6.28,5.71-21.77,5.71-21.77l-20.58-5.58c0,0-4.71,16.9-5.9,21.75
            s-23.71,10.74-25.63,17.83c-1.73,6.45-24.02,88.62-27.96,103.18c-0.46,1.71,0.05,3.53,1.33,4.76c2.79,2.67,9.5,7.06,25.44,11.38
            c16.26,4.41,24.43,3.95,28.2,3.04c1.69-0.42,3.02-1.72,3.47-3.41c3.93-14.5,25.56-94.32,27.95-103.12
            c2.59-9.67-13.16-21.82-12.06-28.09"
                        />
                        <path
                            class="cls-1"
                            d="M159.48,59.78l-15.52-4.16l3.57-23.15c0.24-1.58,1.72-2.67,3.31-2.43
            c0.1,0.02,0.21,0.04,0.31,0.06l14.88,3.99c1.55,0.42,2.46,2.01,2.04,3.55c-0.03,0.1-0.06,0.2-0.1,0.3L159.48,59.78z"
                        />
                        <path
                            class="cls-1"
                            d="M160.44,67.72l-21.3-5.77c-3.09-0.84-4.92-4.02-4.08-7.11c0.84-3.09,4.02-4.92,7.11-4.08
            l21.3,5.77c3.09,0.84,4.92,4.02,4.08,7.11C166.72,66.72,163.53,68.55,160.44,67.72L160.44,67.72z"
                        />
                        <path
                            class="cls-1"
                            d="M153.34,103.89l-0.04-0.01c0.04-0.07,0.08-0.14,0.1-0.22c0.52-1.92-4.91-5.05-12.13-6.99
            s-13.48-1.94-14-0.02c-0.01,0.07-0.01,0.15-0.01,0.22l-7.96,45.22c-0.99,5.63-2.47,11.17-4.43,16.54L99.1,201.71l0.06,0.02
            c-0.06,0.09-0.11,0.18-0.14,0.28c-0.52,1.92,4.91,5.05,12.13,6.99s13.48,1.94,14,0.02c0.02-0.1,0.03-0.21,0.03-0.31l0.05,0.01
            l7.91-45.22c0.98-5.63,2.47-11.17,4.43-16.54L153.34,103.89z"
                        />
                        <path
                            class="cls-1"
                            d="M127.24,96.87c1.68,6.86,8.34,11.28,15.31,10.17c13.5-0.41-5.62-7.57-5.62-7.57"
                        />
                    </g></svg
                >Matches</a
            >
        </li>
        <li>
            <a href="/account/profile"
                ><svg
                    class="menu-item"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 250 250"
                >
                    <g class="profile">
                        <path
                            class="cls-1"
                            d="M144.79,162.23v-5.71c7.11-6.62,12.17-15.14,14.58-24.55c0.23,0.12,0.48,0.21,0.74,0.26
            c3.32,0.55,6.92-5.58,8.02-13.73c1.1-8.15-0.71-15.22-4.04-15.79c-1.09-0.1-2.16,0.31-2.91,1.11c-0.07-0.48-0.14-0.96-0.22-1.44
            l1.11-5.41c1.72-5.66,1.91-11.68,0.55-17.44c-1.05-2.88-2.68-5.52-4.78-7.75c-6.71-7.1-15.71-11.59-25.42-12.67
            c-9.66-1.03-19.42,0.17-28.54,3.51c-5.44,1.86-11.71,6.06-10.58,11.72c-3.02-0.71-6.07,1.01-7.04,3.96
            c-0.83,2.89-0.9,5.94-0.2,8.86l2.44,16.17c-0.65-0.49-1.46-0.7-2.26-0.6c-3.32,0.55-5.14,7.64-4.04,15.79s4.69,14.3,8.02,13.73
            c0.26-0.05,0.51-0.13,0.74-0.26c2.42,9.41,7.49,17.93,14.6,24.55v5.59c-20.24,1.59-39.87,7.73-57.41,17.96
            c30.04,42.54,88.88,52.68,131.43,22.64c8.61-6.08,16.13-13.55,22.27-22.12c-17.37-10.37-36.87-16.65-57.03-18.36"
                        />
                        <path
                            class="cls-1"
                            d="M182.64,67.53c-0.93,5.84-2.15,11.63-3.67,17.34c-6.12,1.89-12.44,3.03-18.83,3.41
            c-28.6,2.77-76.47,1.61-89.15-3.41c-1.5-5.72-2.72-11.5-3.63-17.34c0-2.86,11.02-2.45,16.53-7.55c4.93-4.57,4.46-26.48,35.09-29.83
            c4.01-0.21,8.03-0.21,12.04,0c16.32,1.79,23.81,8.86,27.99,15.74c2.11,4.82,4.47,9.53,7.08,14.1c5.54,5.11,16.53,4.7,16.53,7.55"
                        />
                    </g></svg
                >Profile</a
            >
        </li>
    </ul>
</nav>
