/*====================
Discover page styling
 ====================*/

#filter {
	display: none;
	position: fixed;
	top: 100px;
	background: #fff;
	padding: 30px;
	z-index: 9;
	width: 95%;
	border-radius: 10px;
}

#filter form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: var(--fontFamily);
	font-weight: var(--fontLight);
}

#filter form section,
#filter form label {
	width: 100%;
	display: block;
	color: #000
}

#filter form article label {
	display: inline;
}

button.cancel {
	position: absolute;
	top: 10px;
	right: 10px;
}

/*====================
 Matches styling
 ====================*/

section.matchable {
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	position: relative;
	margin-top: 150px;
}

section.matchable:last-of-type {
	margin-bottom: 150px;
}

section.matchable.m-page {
	margin-top: 30px;
}

article.event-found {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	font-family: var(--fontFamily);
}

article.event-found h2,
article.event-found p {
	color: var(--black);
}

article.event-found h2 {
margin: 0;
}

/* .event-found p:nth-of-type(3),
.event-found p:nth-of-type(4),
.event-found p:nth-of-type(5) {
	width: 100%;
	text-align: center;
	margin: 10px 0px;
} */

.event-found p b {
	display: block;
}

section.match-btn {
	display: flex;
	justify-content: center;
	margin: 30px;
}

#sorter {
	display: none;
	position: fixed;
	top: 100px;
	background: #fff;
	padding: 30px;
	z-index: 9;
	width: 95%;
	border-radius: 10px;
	box-shadow: 0 0 10px rgb(0 0 0 / 35%);
}

#sorter form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: var(--fontFamily);
	font-weight: var(--fontLight);
}

#sorter form section,
#sorter form label {
	width: 100%;
	display: block;
}

#sorter form article label {
	display: inline;
}

/* .standard-bg main nav {
	background: #fff;
	width: 80%;
	margin: auto;
	border-radius: 10px;
	margin-top: 30px;
} */

section.matchable:last-of-type {
	margin-bottom: 150px;
}

section.matchable.m-page {
	margin-top: 30px;
}

article.event-found {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	font-family: var(--fontFamily);
}

.standard-bg main nav ul {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	padding: 0;
}

.standard-bg main nav li {
	text-decoration: none;
	list-style-type: none;
	padding: 10px 47px;
	width: 50%;
	font-family: var(--fontFamily);
	font-weight: var(--fontLight);
}

.standard-bg main nav li:last-of-type {
	background: var(--blue);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #fff;
}

#sorter {
	display: none;
	position: fixed;
	top: 100px;
	background: #fff;
	padding: 30px;
	z-index: 9;
	width: 95%;
	border-radius: 10px;
	box-shadow: 0 0 10px rgb(0 0 0 / 35%);
}

#sorter form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: var(--fontFamily);
	font-weight: var(--fontLight);
}

#sorter form section,
#sorter form label {
	width: 100%;
	display: block;
	color: #000
}

#sorter form article label {
	display: inline;
}
