<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="standard-bg container">
		<header></header>
		<main class="account">
			<section>
				<form action="/uitloggen" method="post">
					<input type="submit" value="Uitloggen" />
				</form>
				<h1>Hi<%= username %> leuk dat je er weer bent!</h1>
			</section>

			<section>
				<p>Wijzig je gegevens</p>
				<form action="/update" method="post">
					<input
						type="text"
						id="username"
						name="username"
						placeholder="Gebruikersnaam"
						value="<%= username %> "
						required
					/>
					<label for="fname"></label>
					<input
						type="text"
						id="email"
						name="email"
						placeholder="E-mail"
						value="<%= email %> "
						required
					/>
					<label for="email"></label>
					<input type="submit" value="Opslaan" />
				</form>
			</section>
		</main>
		<footer> </footer>

		<script src="/javascript/script.js"></script>
	</body>
</html>
