<section>
    <h2>Login</h2>

    <form action="/login" method="post">
        <input type="text" id="username" name="username" placeholder="Gebruikersnaam">
        <input type="password" id="password" name="password" placeholder="Wachtwoord">
        <input type="submit" value="login">
    </form>

    <p>Nog geen account?</p>
    <a href="/registreren">Meld je nu aan!</a>
</section>