<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class=" standard-bg container">

<header>
<h1>Je hebt een match!</h1>
</header>

<main>
    <h2><%= userMatch.name %></h2>
</main>

<footer class="light">
  <%- include('../partials/footer'); %>
</footer>

<script src="/javascript/script.js"></script>
</body>
</html>