<!DOCTYPE html>

<html>
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body class="standard-bg container">
		<main class="register">
			<section>
				<h2>Register</h2>

				<form class="register-form" method="POST" action="/login">
					<input type="text" name="username" id="username" placeholder="Username" required />
					<input type="email" name="email" id="email" placeholder="Email" required />
					<input type="password" name="password" id="password" placeholder="Password" required />
					<input type="submit" value="Register">
				</form>

				<p class="log-in-prompt">
					Already have an account? <a href="/inloggen">Log in!</a>
				</p>
			</section>
		</main>
	</body>
</html>
