<main>
    <h2>Register</h2>
    <form method="POST" action="/account">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Register">
    </form> 
    <p>Already an account? <a href="/inloggen">Log in!</a></p>
</main>